.search-popup {
  background: white;
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100%;
  z-index: 6;
  opacity: 0;
  visibility: hidden;
}

.search-popup.visible {
  opacity: 1;
  visibility: visible;
  animation: growOut 500ms ease-in-out forwards;
}

.search-popup .search-content {
  position: absolute;
  top: 40%;
  left: 50%;
  width: 650px;
  transform: translate(-50%, -50%);
}

.search-popup .btn-close {
  right: 30px;
  top: 30px;
  position: absolute;
}

.btn {
  color: #fff;
  border: 0;
  border-radius: 25px;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 400;
  overflow: hidden;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  white-space: nowrap;
  text-align: center;
  transition: all 0.3s ease-in-out;
}

.btn:focus {
  outline: 0;
  box-shadow: none;
}

.btn-default {
  color: #fff;
  padding: 9.5px 36px;
  background-color: #6e72fc;
  background-image: linear-gradient(315deg, #6e72fc 0%, #ad1deb 74%);
  background-size: 200% auto;
}

.btn-default:hover {
  color: #fff;
  background-position: right center;
}

.btn-lg {
  padding: 13px 40px;
  font-size: 16px;
}

.form-control {
  display: block;
  border-radius: 25px;
  width: 100%;
  padding: 8px 24px;
  font-size: 14px;
  line-height: 1.6;
  color: #8f9bad;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ebebeb;
  box-shadow: none;
}

.form-control:focus {
  border-color: #ad1deb;
  outline: 0;
  box-shadow: none;
}
